body{
    background-color: #1f1f1f;
    color:aliceblue;
}
.lol{
    border: 1px solid rgb(255, 255, 255);
    font-size:50px;
    border-collapse: collapse;
}
th, td {
    border: solid rgb(255, 255, 255);
}
.pon_w{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pon_w_n{
    display: none;
}
.pon_r{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pon_r_n{
    display: none;
}
.zag_w{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100px;
    background-color: #282828;
}
.zag_w_n{
    display: none;
}
.zag_r{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100px;
    background-color: #282828;
}
.zag_r_n{
    display: none;
}
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}
button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #000000;
    border: none;
    cursor: pointer;
    display:block;
    align-self: center;
}
.amogus{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ne_amogus{
    display: none;
}
.container_n{
    display: none;
}
