.lol{
    border: 1px solid black;
    font-size:50px;
}
.pon_w{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pon_w_n{
    display: none;
}
.pon_r{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pon_r_n{
    display: none;
}
.zag_w{
    display:flex;
    justify-content: center;
    align-items: center;
}
.zag_w_n{
    display: none;
}
.zag_r{
    display:flex;
    justify-content: center;
    align-items: center;
}
.zag_r_n{
    display: none;
}
button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #FFF;
    border: none;
    cursor: pointer;
}
.amogus{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ne_amogus{
    display: none;
}
